@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.form-control, .thumbnail {
    border-radius: 2px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload .image-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    object-fit: contain;
    max-width: 100%;
    max-height: 240px;
    min-height: 240px;
}

.filter-bar {
    padding: 0;
    padding-right: 0;
}

.filter-bar-left {
    padding-right: 0.75rem;
    padding-left: 0;
}

.filter-bar-right {
    padding-right: 0;
    padding-left: 0.75rem;
}

