<div class="mt-4">
    <div class="container">
        <h1>Welcome to admin page</h1>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    Trang chủ
                </div>
            </li>
        </ul>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    <div class="listree-submenu-heading">
                        Quản lý sản phẩm
                    </div>
                </div>
                <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/products">Tất cả sản phẩm</a>
                        </div>
                    </li>
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/products/create">Thêm mới sản phẩm</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    <div class="listree-submenu-heading">
                        Quản lý chung
                    </div>
                </div>
                <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/brands">Tất cả thương hiệu</a>
                        </div>
                    </li>
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/categories">Tất cả danh mục</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    <div class="listree-submenu-heading">
                        Quản lý người dùng
                    </div>
                </div>
                <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/customers">Tài khoản người dùng</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    <div class="listree-submenu-heading">
                        Thông tin cá nhân
                    </div>
                </div>
                <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading mt-2">
                            <a href="/users/proflie">Chỉnh sửa</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="listree">
            <li>
                <div class="listree-submenu-heading">
                    <div class="listree-submenu-heading">
                        <a href="/logout">Đăng xuất</a>
                    </div>
            </li>
        </ul>
    </div>
</div>