@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.form-control, .thumbnail {
    border-radius: 2px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload .image-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    object-fit: contain;
    width: 250px; /* adjust to your pleasure */
    height: 250px;
}